extends layout
block css
	link(rel='stylesheet', href='/stylesheets/mystyle.css')
block content
	div.container
		div.row
			div.col-xs-12
				h1 Bienvenido al home
					a(href='/login', class='text-center new-account') Entrar
					#message
					if message
						h1.text-center.error-message #{message}