doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    block css
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    block js
  body
    block header
    block content